@import url("../estilos.css");

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}
  
h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
  
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.profile-info, .additional-info {
    margin-bottom: 30px;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
li {
    margin-bottom: 5px;
}
  
strong {
    font-weight: bold;
}
  