@import url("../estilos.css");

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .users {
    margin-bottom: 40px;
  }
  
  .users h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th {
    font-weight: bold;
    text-align: left;
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
  }
  
  table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .edit-button, .delete-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .add-user {
    margin-bottom: 40px;
  }
  
  .add-user h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .add-user label, .edit-user label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .add-user input[type="text"], .add-user input[type="password"], .edit-user input[type="text"], .edit-user input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .add-user input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-user {
    display: none;
  }
  
  .edit-user h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .edit-user input[type="text"], .edit-user input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f2f2f2;
  }
  
  .edit-user input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  